*{
    margin: 0;
    padding: 0;
}
body{
    overflow: hidden;
    padding: 150px 0px;
    min-height: 100vh;
}
.slider-wrapper{
    width:fit-content;
    display: flex;
    overflow: hidden;
    flex-flow: row nowrap;    
    will-change: transform;
    background-color: #231F20;
    align-items: center;
    padding:120px 10px;
    color:white;
    div{
        width: var(--div_width);
        img{
            width: 65%;
            display: block;
            margin: auto;

        }
    }
}
